* {
  box-sizing: border-box;
}
.bg-dark-shade {
  background-color: #070103;
}

.navbar-toggler {
  border: 1px solid rgba(255, 255, 255, 0.5);
  background-color: transparent;
}
.navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}
.cards {
  border-style: none !important;
  box-shadow: 5px 5px 10px #88888857;
}
.card-footer {
  border-style: none !important;
}

.round {
  border-radius: 10px;
}
.head {
  background-size: cover;

  background-image: url("./assets/images/back-ground.jpg");
  background-repeat: no-repeat;
}
